<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" href="{{ "/assets/images/light.png" | relative_url }}" type="image/x-icon" sizes="16x16" />

	<!-- <title>{% if page.title == 'Home' } {{ site.title }} &middot; {{ site.tagline }} {% else %} {{ page.title }} &middot; {{ site.title }} {% endif %}</title> -->
	{% if page.url != '/' %}
	<title>{{ page.title }} &middot; {{ site.title }}</title>
	{% else %}
	<title>👋 Hey! &middot; {{ site.title }}</title>
	{% endif %}

	<!-- OG:IMAGE -->
	{{% if page.image %}} <meta property="og:image" content="{{ "/assets/images/thumb.jpg" | relative_url }}" > {{% endif %}}

	<!-- SEO -->
	{% seo %}

	<!-- Styles -->
	<link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}" />

	<!-- Google Font -->
	<link rel="preconnect" href="https://fonts.gstatic.com" />
	<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap" rel="stylesheet" />
</head>
