<header class="header">
	<a class="header__brand" href="{{ "/" | relative_url }}">
		<picture>
			<!-- <source srcset="assets/dark.png" media="(prefers-color-scheme: dark)" /> -->
			<!-- <source srcset="assets/light.png" media="(prefers-color-scheme: light)" /> -->
			<img class="header__icon" src="{{ "/assets/images/light.png" | relative_url }}" alt="jgcarrillo" />
		</picture>
	</a>

	<!-- DARK THEME
	<div class="theme-switch-wrapper">
		<label class="theme-switch" for="checkbox">
			<input type="checkbox" id="checkbox" />
			<div class="slider round"></div>
		</label>
	</div>
	<div class="clearfix"></div> -->
</header>
