<nav class="menu">
	<section class="menu__menu">
		<strong class="menu__title">Más</strong>
		<ul class="menu__list">
			<li class="menu__item"><a href="{{ "/" | relative_url }}" title="Inicio">Inicio</a></li>
			<li class="menu__item"><a href="https://github.com/jgcarrillo/" title="GitHub">GitHub</a></li>
			<li class="menu__item"><a href="https://codepen.io/jgcarrillo/" title="Codepen">Codepen</a></li>
			<li class="menu__item"><a href="{{ "/proyectos" | relative_url }}" title="Proyectos">Proyectos</a></li>
			<li class="menu__item"><a href="{{ "/acerca-de" | relative_url }}" title="Acerca de">Acerca de</a></li>
			<li class="menu__item"><a href="{{ "/contacto" | relative_url }}" title="Contacto">Contacto</a></li>
		</ul>
	</section>
</nav>
