<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en_US" }}">

  {% include head.html %}

  <body>
    {% include header.html %}

    <main class="entry">
      {% assign psize = site.posts | size %}

      {% if page.url != '/404.html' or psize == 0 %}
      {% unless page.path contains 'post' %}
      {% include date.html %}
      {% endunless %}
      {% endif %}

      <div class="e-content">
        {{ content }}
      </div>
    </main>

    {% include navbar.html %}
    {% include footer.html %}

  </body>
</html>
