<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en_US" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="presentation h-card">
        <p class="presentation__avatar">
            <img class="presentation__icon u-photo" id="imagen-jgcarrillo" src="{{ "/assets/images/jgcarrillo.jpg" | relative_url }}" alt="Jorge">
        </p>

        <div class="presentation__text">
            <h1 class="presentation__title">Hi, I'm <span class="p-name">Jorge</span><span class="blinking">_</span></h1>
            <div class="presentation__body">
                {{ content }}

                <h2 id="home__articles">Lastest articles</h2>
                <ul class="w__padding">
                  {% for post in site.posts limit: 5 %}
                    <li>
                      <a href="{{ post.url }}" class="post__link">{{ post.title }}</a>
                    </li>
                  {% endfor %}
                </ul>

                <a href="{{ "/blog" | relative_url }}" class="btn__art">See the full list of articles</a>
            </div>
        </div>
    </main>

    {% include navbar.html %}
    {% include footer.html %}

  </body>
</html>
