---
layout: default
---

<time class="time__separator">{{ page.date | date_to_string | upcase }}</time>
<img src="{{ "/assets/images/tag.svg" | relative_url }}" class="some__icon tag__icon__color" alt="tag icon">
<span>[
  {% for tag in page.tags %}
    {% capture tag_name %}{{ tag }}{% endcapture %}
    <a href="/tag/{{ tag_name }}"><code class="color__tag__post"><nobr>{{ tag_name }}</nobr></code></a>
  {% endfor %}
]</span>

{{ content }}

<a href="{{ "/blog" | relative_url }}">< See the full list of articles</a>
